<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AcadManageR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'student:index' %}">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="https://admin.nitdgp.ac.in/files/academics/notices/2019/12/31/CLASS_ROUTINE_SECOND_SEM_EVEN_19_20_VXY9UQQ.pdf">Routine</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'student:subjects' %}">Subjects</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'student:select_semester' %}">Enter Marks</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="#" style="font-weight: bold;"><i class="fas fa-user"></i> &nbsp&nbsp Hello, {{ user.first_name }}&nbsp&nbsp&nbsp</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'student:update' %}">Update Profile&nbsp&nbsp&nbsp&nbsp&nbsp</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'student:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'student:login' %}">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'student:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>