{% extends 'student/base.html' %}

{% block title_block %}
    Select Semester
{% endblock title_block %}

{% block body_block %}

<style>
	.profile-pic{
		max-width: 400px;
		max-height:400px;
		margin: 0 auto;
		border-radius: 50px;
	}
</style>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card card-body">
                <table class="table table-hover">
                    {% for semester in semester_list %}
                        <tr>
                            <td><h3>Enter Your Marks For</h3></td>
                            <td><a href="{% url 'student:marks' semester.pk %}"><button class="btn btn-info btn-sm">{{ semester.semester }}</button></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock body_block %}
